{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>qMorph app | About</title>
	<link rel="stylesheet" type="text/css" href="{% static './css/uploads.css' %}">

</head>
<body>
	<header>
		<h1><center> Upload your image for warping </center>  </h1>
	</header>
	<section id="Upload">
		<div class="container">
			{% block content %}
			<form id="up"  method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}
				<button id="button"  type="submit">Upload</button>
			</form>

			<div>
<!-- 				<form action="{% url 'registration:list_of_images' %}" method="POST">
				{% csrf_token %}
   				<input id="button" type="submit" value="Images" />
				</form> -->
				<a href="{% url 'registration:list_of_images' %}">List of Images</a>
			</div>

 			<p id="return"><a href="{% url 'registration:index' %}">Return to home</a></p>
  			{% endblock %}
		</div>
	</section>

</body>
</html>






  

  