{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name = "viewport" content="width=device-width">
		<meta name="descriptin" content="Rat Brain and Spinal Cord image registration"> 
		<meta name="keywords" content="research tool, web app, Carmel Lab">
		<meta name="authors" content="Wali Hairan & Dr. Shiva">
		
		<title>qMorph app | Menu</title>
		<link rel="stylesheet" type="text/css" href="{% static './css/buttons.css' %}">
	</head>

	<body>
		<header>
			<!-- {% load static %} -->
			<div class="container">
				<div id="logo">
					<h1><span class="highlight">qMorph</span></h1>
				</div>
				<nav>
					<ul>
						<li><a href="{% url 'registration:home_page' %}">INTRODUCTION</a></li>
						<li class="current"><a href="{% url 'registration:index' %}">WARP</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<aside id="options">
			<div>
				<form action="{% url 'registration:test_print' %}" method="POST">
					{% csrf_token %}
				<input id="submit" type="submit" value="test" />
			</form>
			</div>
			<br>
			
			<div>
				<form action="{% url 'registration:upload_file' %}" method="POST">
				{% csrf_token %}
   				<input id="submit" type="submit" value="Upload" />
				</form>
			</div>
			<br>

			<form action="{% url 'registration:upload_file' %}" method="POST">
			{% csrf_token %}
   			<input id="submit" type="submit" value="Register" />
			</form>

			<br>
			<form action="{% url 'registration:upload_file' %}" method="POST">
				{% csrf_token %}
   				<input id="submit" type="submit" value="Warp" />
			</form>
			<br>
				<form action="{% url 'registration:upload_file' %}" method="POST">
				{% csrf_token %}
   				<input id="submit" type="submit" value="download" />
				</form>

			<br>

		

			<div>
				<form action="{% url 'registration:images' %}" method="POST">
				{% csrf_token %}
   				<input id="submit" type="submit" value="Images" />
				</form>
			</div>
		</aside>

		<hr>
		<center>
		<p><a href="{% url 'registration:index' %}">Return to home</a></p>
		</center>


		<footer>
			<p>qMorph app, Copyright &copy; 2018</p>
		</footer>

	</body>
</html>